<header th:fragment="Navbar">
    <nav class="navbar">
        <div class="logo-contenedor">
            <a th:href="@{/}">
                <img src="/img/logoPNG.png" alt="Logo" class="logo">
                <span class="nombreEmpresa">DEV SOLUCIONES</span>
            </a>
        </div>

        <ul class="nav-list">
            <li><a th:href="@{/}">INICIO</a></li>
            <li><a class="target" th:href="@{/dashboard}" sec:authorize="hasRole('ADMIN')">PANEL DE ADMINISTRACION</a></li>
            <li><a th:href="@{/conocenos}">CONOCENOS</a></li>
            <li><a th:href="@{/ayuda}">AYUDA</a></li>
            <li><a th:href="@{/servicios}">SERVICIOS SOLO VISTA USUARIO</a></li>
        </ul>

        <ul id="redes">
            <li class="cerrarSesion" >
                <li sec:authorize="hasAnyRole('ROL_USER', 'ROL_PROVEEDOR', 'ROL_ADMIN')"><a href="/logout">CERRAR SESIÓN</a></li>
            </li>
            <ul class="registro">
                <li th:if="${session.usuarioEnSesion != null}">
                    <a href="javascript:void(0)" class="dropbtn">INICIAR SESIÓN</a>
                </li>
                <li th:if="${session.usuarioEnSesion == null}">
                    <a href="javascript:void(0)" class="dropbtn">CERRAR SESIÓN</a>
                </li>
            </ul>
            <li class="desplegable" th:if="${session.usuarioEnSesion == null}">
                <a href="javascript:void(0)" class="dropbtn">REGISTRARSE</a>
                <div class="desplegable-content">
                    <a th:href="@{/registrarUsuario}">USUARIO</a>
                    <a th:href="@{/registrarProveedor}">PROVEEDOR</a>
                </div>
                </li>
            <li>
                <a href="" target="_blank">
                    <img class="social-logo" src="/img/Instagram.svg" alt="instagram">
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img class="social-logo" src="/img/Facebook.svg" alt="facebook">
                </a>
            </li>
        </ul>
        <div class="marquesina-contenedor">
            <div class="marquesina">
                <p>DEV SOLUCIONES: Conectamos PROFESIONALES con tus necesidades.</p>
            </div>
        </div>
    </nav>
</header>