<footer th:fragment="footerFragment" class="footerDev">
    <p>© 2024 DEV SOLUCIONES - Todos los derechos reservados</p>
    <div class="footer-columns">
        <div class="footer-column dev-column">
            <h4>DESARROLLADORES</h4>
            <div class="dev-container">
                <div class="dev">
                    <a href="https://www.linkedin.com/in/federicopch/" target="_blank">
                        <img src="/img/Linkedin.svg" alt="linkedin">
                    </a>
                    <h4>Federico Peche</h4>
                    <h5>Front-End Dev</h5>
                </div>
                <div class="dev">
                    <a href="" target="_blank">
                        <img src="/img/Linkedin.svg" alt="linkedin">
                    </a>
                    <h4>Leandro Muro</h4>
                    <h5>Full-Stack Dev</h5>
                </div>
                <div class="dev">
                    <a href="https://www.linkedin.com/in/nahuel-gomez-gahn-7aa162269/" target="_blank">
                        <img src="/img/Linkedin.svg" alt="linkedin">
                    </a>
                    <h4>Nahuel Gómez Gahn</h4>
                    <h5>Full-Stack Dev</h5>
                </div>
                <div class="dev">
                    <a href="" target="_blank">
                        <img src="/img/Linkedin.svg" alt="linkedin">
                    </a>
                    <h4>Luis Miguel Jiménez</h4>
                    <h5>Full-Stack Dev</h5>
                </div>
            </div>
        </div>
        <div class="footer-column">
            <h4>CONTACTO</h4>
            <p><strong>Email:</strong> contacto@devsoluciones.com</p>
            <p><strong>Teléfono:</strong> +54 11 1234 5678</p>
            <p><strong>Dirección:</strong> Av. Flores 1234, Piso 5, CABA, Buenos Aires, Argentina</p>
        </div>
        <div class="footer-column">
            <h4>ENLACES ÚTILES</h4>
            <ul>
                <li><a th:href="@{/}">INICIO</a></li>
                <li><a th:href="@{/conocenos}">CONOCENOS</a></li>
                <li><a th:href="@{/ayuda}">AYUDA</a></li>
                <li><a th:href="@{/conocenos}">CONTACTO</a></li>
                <li><a class="target" th:href="@{/dashboard}" sec:authorize="hasRole('ADMIN')">PANEL DE ADMINISTRACION</a></li>
            </ul>
        </div>
        <div class="footer-column social-column">
            <h4>SÍGUENOS</h4>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank"><img src="/img/Facebook.svg" alt="Facebook"></a>
                <a href="https://linkedin.com" target="_blank"><img src="/img/Linkedin.svg" alt="LinkedIn"></a>
                <a href="https://instagram.com" target="_blank"><img src="/img/Instagram.svg" alt="Instagram"></a>
            </div>
            <div class="marquesina-contenedor">
                <div class="marquesina">
                    <p>DEV SOLUCIONES: Conectamos PROFESIONALES con tus necesidades.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

