<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>App Service</title>
    
</head>

<body>
<!-- aqui se coloca el codigo dentro del header con  
 el nombre del bloque y se añade al index-->

<header th:fragment="ContenidoPrincipal">
    <main>
        <div class="eleccion">
<div class="imagenPortada"><img src="/estiloscss/imagenes/avatar.png" alt=""> <span>Necesito un Servicio</span></div>
<div class="imagenPortada"><img src="/estiloscss/imagenes/trabajadores.png" alt=""> <span> Soy profesional</span></div>
            
        </div>
    </main>

</header>



</body>

</html>