<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Formulario de Valoración</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/styles/styleFooter.css">
        <link rel="stylesheet" href="/styles/styleCalificar.css">
    </head>
    <body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main id="vistaValoraciones">
        <div>
            <h2>Formulario de Valoración</h2>
            <div class="valoraciones-container">
                <form th:action="@{/valoraciones/calificarS/{Id}(Id=${solicitud.id})}" method="post" th:object="${valoracionDTO}">
                    <div class="form-group">
                        <label for="comentario"><h3>COMENTARIOS</h3></label>
                        <textarea id="comentario" name="comentario" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="puntaje"><h3>PUNTAJE</h3></label>
                        <div class="rating">
                            <input type="radio" id="star5" name="puntaje" value="5" /><label for="star5" title="Excelente">&#9733;</label>
                            <input type="radio" id="star4" name="puntaje" value="4" /><label for="star4" title="Muy Bueno">&#9733;</label>
                            <input type="radio" id="star3" name="puntaje" value="3" /><label for="star3" title="Bueno">&#9733;</label>
                            <input type="radio" id="star2" name="puntaje" value="2" /><label for="star2" title="Regular">&#9733;</label>
                            <input type="radio" id="star1" name="puntaje" value="1" /><label for="star1" title="Malo">&#9733;</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><h4>Guardar Valoración</h4></button>
                </form>
            </div>
        </div>
    </main>
    </body>
    <footer th:replace="~{/fragments/footer :: footerFragment}">    
</html>
