<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Valoraciones</title>
    <link rel="stylesheet" href="/styles/styleFooter.css">
    <link rel="stylesheet" href="/styles/styleValoracionesAdmin.css">
</head>
<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main id="vistaValoraciones">
        <div>
            <h2>Lista de Valoraciones</h2>
            <div class="valoraciones-container">
                <div class="lista-valoraciones">
                    <div class="column-header">
                        <div class="col-usuario"><h3>Usuario</h3></div>
                        <div class="col-proveedor"><h3>Proveedor</h3></div>
                        <div class="col-servicio"><h3>Servicio</h3></div>
                        <div class="col-comentario"><h3>Comentario</h3></div>
                        <div class="col-puntaje"><h3>Puntaje</h3></div>
                        <div class="col-acciones"><h3>Acciones</h3></div>
                    </div>
                    <div class="valoracion" th:each="solicitud : ${solicitudes}">
                        <div class="col-usuario" th:text="${solicitud.idUsuario.nombre + ' ' + solicitud.idUsuario.apellido}">Nombre Usuario</div>
                        <div class="col-proveedor" th:text="${solicitud.idProveedor.usuario.nombre + ' ' + solicitud.idProveedor.usuario.apellido}">Nombre Proveedor</div>
                        <div class="col-servicio" th:text="${solicitud.idProveedor.servicio.nombre}">Servicio</div>
                        <div class="col-comentario" th:text="${solicitud.idValoracion.comentario}">Comentario</div>
                        <div class="col-puntaje" th:text="${solicitud.idValoracion.puntaje}">Puntaje</div>
                        <div class="col-acciones">
                            <form th:action="@{/valoraciones/eliminar/{id}(id=${solicitud.idValoracion.id.toString()})}" method="post">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}"></footer>
</body>
</html>
