<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conocenos</title>
    <link rel="stylesheet" href="/styles/styleConocenos.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
        <!-- PÁGINA 1 'INICIO'-->
        <section id="conocenos">
            <div class="textoConocenos">
        </section>
    </main>

    <footer>

    </footer>
    <!--correr spring terminal   ./mvnw spring-boot:run  -->
</body>
</html>