<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conocenos</title>
    <link rel="stylesheet" href="/styles/styleConocenos.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
        <!-- PÁGINA 1 'INICIO'-->
        <section id="conocenos">
            <div class="textoConocenos">
                <h1><strong>¿QUIENES SOMOS?</strong>
                </h1><br><br>
                    <h4>En <strong>DEV Soluciones</strong>, facilitamos el acceso a información de proveedores 
                        calificados en servicios esenciales como <strong>gas, electricidad y plomería.</strong> 
                        Nos especializamos en <strong>conectar</strong> a los usuarios con profesionales confiables, 
                        asegurando que encuentres la ayuda que necesitas de manera rápida y eficiente.</br></br>
                        
                        <strong>¿Por qué elegir DEV Soluciones?</strong></br>

                        <strong>Profesionales calificados</strong>: Todos nuestros proveedores pasan por un riguroso 
                        proceso de selección para garantizar su experiencia y confiabilidad.</br></br>

                        <strong>Servicio rápido y eficiente</strong>: Nos aseguramos de que encuentres la ayuda que 
                        necesitas sin demoras.</br></br>

                        <strong>Atención Personalizada</strong>: Estamos aquí para ayudarte en cada paso del proceso, 
                        desde la selección del proveedor hasta la finalización del servicio.</br></br>
                        
                        <strong>Información de contacto</strong></br>
                        <strong>Correo Electrónico</strong>: contacto@devsoluciones.com</br>
                        <strong>Teléfono</strong>: +54 11 1234 5678</br>
                        <strong>Dirección</strong>: Av. Flores 1234, Piso 5, CABA, Buenos Aires, Argentina</br>
                        <strong>Horario de Atención</strong>: Lunes a Viernes, de 9:00 a 18:00</br></br>
                        
                        En <strong>DEV Soluciones</strong>, estamos comprometidos con tu satisfacción y tranquilidad. 
                        No dudes en ponerte en contacto. <strong>¡Estamos aquí para ayudarte!</strong>
                    </h4>
            </div>
        </section>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}">
    </footer>
    <!--correr spring terminal   ./mvnw spring-boot:run  -->
</body>
</html>