<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Crear Solicitud</title>
    <link rel="stylesheet" href="/styles/styleFooter.css">
    <link rel="stylesheet" href="/styles/styleContratarFormulario.css">
</head>
<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <div class="container">
        <h2>Crear Solicitud</h2>
        <h3 th:text="'Proveedor: ' + ${proveedorNombre}"></h3>

        <!-- Formulario con la acción corregida -->
        <form th:action="@{/contratar/guardarSolicitud/{proveedorId}(proveedorId=${proveedorId})}" method="post">
            <div class="form-group">
                <label for="comentario">Descripción del trabajo a realizar:</label>
                <textarea id="comentario" class="form-control" name="comentario" required></textarea>
            </div>
            <div class="form-group">
                <label for="horas">Horas estimadas:</label>
                <input type="number" id="horas" class="form-control" name="horas" min="1" required oninput="calcularHonorarios()">
            </div>
            <p id="honorariosEstimados"></p>
            <button type="submit" class="btn btn-primary">Crear Solicitud</button>
        </form>
    </div>
    <footer th:replace="~{/fragments/footer :: footerFragment}"></footer>
    <script src="/script/honorarios.js"></script>
</body>
</html>
