<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Crear Solicitud</title>
    <link rel="stylesheet" href="/styles/styleFooter.css">
    <link rel="stylesheet" href="/styles/styleContratarFormulario.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main class="contratar">
        <div class="container">
            <h2>CREAR SOLICITUD</h2>
            <h3 th:text="'Proveedor: ' + ${proveedor.usuario.apellido + ' ' + proveedor.usuario.nombre}"></h3>
            <h4 th:text="'Servicio : ' + ${proveedor.servicio.nombre}"></h4>
            <!-- <h3 th:text="'Proveedor: ' + ${proveedor.usuario.nombre}"></h3> -->

            <!-- Formulario con la acción corregida -->
            <form th:action="@{/contratar/guardarSolicitud/{proveedorId}(proveedorId=${proveedorId})}" method="post">
                <div class="form-group">
                    <label for="comentario">
                        <h3>Descripción del trabajo a realizar:</h3>
                    </label>
                    <textarea id="comentario" class="form-control" name="comentario" required></textarea>
                </div>
                <div class="form-group">
                    <label for="horas">
                        <h3>Horas estimadas:</h3>
                    </label>
                    <input type="number" id="horas" class="form-control" name="horas" min="1" required
                        oninput="calcularHonorarios()">
                </div>
                <p id="honorariosEstimados"></p>
                <button type="submit" class="btn btn-primary">
                    <h4>Crear solicitud</h4>
                </button>
            </form>
        </div>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}"></footer>
    <script src="/script/honorarios.js"></script>
</body>

</html>