<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Usuario</title>
</head>
<body>
    <h1>Formulario de Usuario</h1>
    <form action="/guardarUsuario" method="post" th:object="${usuarioDTO}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" /><br/>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" th:field="*{apellido}" /><br/>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" /><br/>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" th:field="*{contrasena}" /><br/>

        <label for="barrios">Barrios:</label>
        <input type="text" id="barrios" name="barrios" th:field="*{barrios}" /><br/>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" th:field="*{telefono}" /><br/>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>