<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO FINAL EGG</title>
    <link rel="stylesheet" href="/styles/styleIndex.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/index}">
                    <img src="/img/logo2.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">CHACRAS DE CORIA</span>
                </a>
            </div>

            <ul class="nav-list">
                <li><a th:href="@{/index}">INICIO</a></li>
                <li><a th:href="@{/listar}">PROVEEDORES</a></li>
                <li><a th:href="@{/novedades}">NOVEDADES</a></li>
                <li><a th:href="@{/sobreNosotros}">CONOCENOS</a></li>
            </ul>

            <ul class="registro">
                <li class="desplegable">
                    <a href="javascript:void(0)" class="dropbtn">INICIAR SESIÓN</a>
                    <div class="desplegable-content">
                        <a th:href="@{/login}">USUARIO</a>
                        <a href="#iniciarSesionAdmin">PROVEEDOR</a>
                    </div>
                </li>
            </ul>
                <li>
                    <a th:href="@{/registrar}">REGISTRARSE</a>
                </li>

            <ul id="redes">
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Facebook.svg" alt="facebook">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- PÁGINA 1 'INICIO'-->
        <section id="inicio">
            <div class="proveedores-container">
                <div class="proveedor-card">
                    <div class="izquierda">
                        <img src="/img/Gasista.png" alt="Imagen del proveedor Gasista">
                    </div>
                    <div class="derecha">
                        <div class="dosPalabras">
                            <h5 class="tituloPintado"><strong>SERVICIO:</strong></h5> 
                            <h5>Gasista</h5>
                        </div>
                        <div class="dosPalabras">
                            <h5 class="tituloPintado"><strong>NOMBRE:</strong></h5>  
                            <h5>Gaston Estalla</h5>
                        </div>
                            <h5 class="tituloPintado"><strong>DESCRIPCIÓN:</strong></h5>
                            <h5>Profesional matriculado especializado en la instalación, mantenimiento y reparación de sistemas 
                                de gas en hogares, comercios e industrias.</h5>
                        <div class="saber-mas-btn">
                            <a th:href="@{/login}" target="_blank">
                            <h5>Saber más ➝</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </section>
    </main>

    <footer>

    </footer>
    <!--correr spring terminal   ./mvnw spring-boot:run  -->
</body>
</html>
