<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles/styleIndex.css">
</head>

<body>
    <!-- <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/}">
                    <img src="/img/logoPNG.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">DEV SOLUCIONES</span>
                </a>
            </div>
        
            <ul class="nav-list">
                <li><a th:href="@{/}">INICIO</a></li>
                <li><a th:href="@{/conocenos}">CONOCENOS</a></li>
            </ul>
        
            <ul class="account-options">
                <li class="desplegable" th:if="${session.usuarioEnSesion == null}" >
                    <a href="javascript:void(0)" class="dropbtn" >INICIAR SESIÓN</a>
                    <div class="desplegable-content">
                        <a th:href="@{/login}">USUARIO</a>
                        <a th:href="@{/loginProveedor}">PROVEEDOR</a>
                    </div>
                </li>
                <li class="desplegable">
                    <a href="javascript:void(0)" class="dropbtn">REGISTRARSE</a>
                    <div class="desplegable-content">
                        <a th:href="@{/registrarUsuario}">USUARIO</a>
                        <a th:href="@{/registrarProveedor}">PROVEEDOR</a>
                    </div>
                </li>
            </ul>
        
            <ul id="redes">
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Facebook.svg" alt="Facebook">
                    </a>
                </li>
            </ul>
        
            <div class="marquesina-contenedor">
                <div class="marquesina">
                    <p>DEV SOLUCIONES: Conectamos PROFESIONALES con tus necesidades.</p>
                </div>
            </div>
        </nav>
    </header> -->
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
        <!-- PÁGINA 1 'INICIO'-->
        <section id="inicio">
            <div class="proveedores-left">
                <div class="textoConocenos">
                    <h1><strong>Bienvenido a DEV Soluciones</strong></h1><br><br>
                        <h4>Somos una empresa dedicada a conectar a nuestros clientes con los mejores 
                            profesionales en el área de servicios esenciales para el hogar y la 
                            industria. Nos especializamos en encontrar y recomendar proveedores de 
                            confianza en tres campos clave: gasistas, electricistas y plomeros. <br><br>
                        
                        ¿Qué ofrecemos?<br><br>
                        <strong>Gasistas Profesionales</strong> certificados para instalar, mantener y reparar sistemas 
                        de gas, asegurando su seguridad y eficiencia.<br><br>
                        <strong>Electricistas Expertos</strong> en instalaciones eléctricas, mantenimiento y resolución de problemas, 
                        garantizando un suministro eléctrico seguro y confiable. <br><br>
                        <strong>Plomeros Matriculados</strong> cualificados para solucionar cualquier necesidad de plomería, desde 
                        instalaciones y reparaciones hasta emergencias imprevistas.<br><br>
                        En <strong>DEV Soluciones</strong>, entendemos la importancia de contar con servicios confiables y de alta calidad. 
                        Por eso, nuestro compromiso es proporcionarle acceso a los mejores profesionales del sector, 
                        seleccionados rigurosamente por su experiencia, profesionalismo y reputación.<br><br>
                        
                        Confíe en <strong>DEV Soluciones</strong> para todas sus necesidades de gas, electricidad y plomería. 
                        Estamos aquí para ofrecerle tranquilidad y soluciones efectivas, respaldadas por los mejores en el negocio.
                        <br><br>
                        <strong>¡Bienvenido a una nueva era de soluciones prácticas y de confianza! ➝</strong></h4></div>
            </div>
            <div class="proveedores-right">
                <div class="proveedores-container">
                    <h2 class="seleccion">SELECCIONA EL SERVICIO QUE LE INTERESA CONTRATAR</h2>
                    <div class="proveedor-card">
                        <div class="izquierda">
                            <img src="/img/gasistaLogo2.PNG" alt="Imagen del proveedor Gasista">
                        </div>
                        <div class="derecha">
                            <div class="dosPalabras">
                                <h2 class="tituloPintado">SERVICIO:</h2> 
                                <h2>GAS</h2>
                            </div>
                            <h4 class="tituloPintado">DESCRIPCIÓN:</h4>
                            <h5>Contamos con profesionales matriculados especializados en la instalación, mantenimiento y reparación de sistemas de gas en hogares, comercios e industrias.</h5>
                            <div class="saber-mas-btn">
                                <a th:href="@{/login}" >
                                    <h5>Saber más ➝</h5>
                                </a>
                            </div>
                        </div>
                    </div>
            
                    <div class="proveedor-card">
                        <div class="izquierda centro">
                            <img src="/img/plomeroLogo2.png" alt="Imagen del proveedor Plomero">
                        </div>
                        <div class="derecha">
                            <div class="dosPalabras">
                                <h2 class="tituloPintado">SERVICIO:</h2> 
                                <h2>PLOMERÍA</h2>
                            </div>
                            <h4 class="tituloPintado">DESCRIPCIÓN:</h4>
                            <h5>Expertos en la instalación, reparación y mantenimiento de sistemas de plomería en viviendas y empresas.</h5>
                            <div class="saber-mas-btn">
                                <a th:href="@{/login}" >
                                    <h5>Saber más ➝</h5>
                                </a>
                            </div>
                        </div>
                    </div>
            
                    <div class="proveedor-card">
                        <div class="izquierda derecha">
                            <img src="/img/electricistaLogoblanco2.png" alt="Imagen del proveedor Electricista">
                        </div>
                        <div class="derecha">
                            <div class="dosPalabras">
                                <h2 class="tituloPintado">SERVICIO:</h2> 
                                <h2>ELECTRICIDAD</h2>
                            </div>
                            <h4 class="tituloPintado">DESCRIPCIÓN:</h4>
                            <h5>Profesionales especializados en instalaciones eléctricas, reparaciones y mantenimiento para hogares y negocios.</h5>

                            <div class="saber-mas-btn">
                                <a th:href="@{/login}">
                                    <h5>Saber más ➝</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>               
        </section>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}">
        <!-- <section class="footer">        
            <form th:action="@{/servicio}" method="post" th:object="${servicioDTO}">
            <input type="text" name="nombre" placeholder="Ingrese el nombre del servicio">
            <button type="submit">Enviar</button>
        </section> -->
        </form>
    </footer>
    <!--correr spring terminal   ./mvnw spring-boot:run  -->
</body>
</html>
