<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar USUARIO</title>
    <link rel="stylesheet" href="/styles/styleRegistroUsuario.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
        <section id="registro">
            <div id="form">
                <h2>MODIFICAR USUARIO</h2>
                <form id="formularioUsuario" th:action="@{/modificarUsuario/__${usuarioDTO.id.toString()}__}" method="POST" th:object="${usuarioDTO}">
                    <div class="form-row">
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" id="telefono" name="telefono" th:field="*{telefono}" placeholder="Ingrese su teléfono" required>
                            </div>
                            <div class="form-group">
                                <h2>SELECCIONE SU BARRIO</h2>
                                <select id="barrios" name="barrios" required th:field="*{barrios}">
                                    <option value="NORTE">NORTE</option>
                                    <option value="CENTRO">CENTRO</option>
                                    <option value="SUR">SUR</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="apellido" name="apellido" th:field="*{apellido}" placeholder="Ingrese su apellido" required>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" name="email" th:field="*{email}" placeholder="Ingrese su email" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="contrasena" name="contrasena" th:field="*{contrasena}" placeholder="Ingrese su contraseña" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="confirmarContrasena" name="confirmarContrasena" placeholder="Confirme su contraseña" required>
                                <span id="mensajeError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row full-width center-content">
                        <div class="form-group">
                            <label for="estado">
                                <h2>NO SOY UN ROBOT</h2>
                            </label>
                            <input type="checkbox" id="estado" name="estado">
                        </div>
                    </div>
                    <div class="form-row full-width">
                        <button type="submit" id="enviarBtn">
                            <h3>MODIFICAR</h3>
                        </button>
                    </div>
                </form>
            </div>
        </section>        
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}">
        
    </footer>
    <script src="/script/modificarUsuario&Proveedor.js"></script>
</body>

</html>