<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Proovedor</title>
    <link rel="stylesheet" href="/styles/styleRegistroProveedor.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/index}">
                    <img src="/img/logo.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">CHACRAS DE CORIA</span>
                </a>
            </div>

            <ul class="nav-list">
                <li><a th:href="@{/index}">INICIO</a></li>
                <li><a th:href="@{/listar}">PROVEEDORES</a></li>
                <li><a th:href="@{/novedades}">NOVEDADES</a></li>
                <li><a th:href="@{/sobreNosotros}">CONOCENOS</a></li>
            </ul>

            <ul id="redes">
                <li>
                    <a th:href="@{/iniciarSesion}">INICIAR SESIÓN</a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Facebook.svg" alt="facebook">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="registro">
            <div id="form">
                <h3>REGISTRO DE PROVEEDOR</h3>
                <form id="formularioProveedor" th:action="@{/guardarProveedor}" method="POST" th:object="${usuarioDTO}">
                    <div class="form-row">
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="nombre" name="nombre" th:field="*{nombreProveedor}" placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" id="telefono" name="telefono" th:value="*{telefonoProveedor}" placeholder="Ingrese su teléfono" required>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" name="email" th:value="*{emailProveedor}" placeholder="Ingrese su email" required>
                            </div>
                            <div class="form-group">
                                <label for="imagenProveedor"><h3>SELECCIONE UNA IMAGEN DE PERFIL</h3></label>
                                <input type="file" id="imagenProveedor" name="imagen" accept="image/*" placeholder="Cargar una imagen de perfil" required>
                            </div>
                        </div>
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="apellido" name="apellido" th:value="*{apellidoProveedor}" placeholder="Ingrese su apellido" required>
                            </div>
                            <div class="form-group">
                                <input type="number" id="matricula" name="matricula" th:value="*{matriculaProveedor}" placeholder="Ingrese su matricula" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="contrasena" name="contrasena" th:value="*{contrasenaProveedor}" placeholder="Ingrese su contraseña" required>
                            </div>
                            <div class="form-group">
                                <h3>SELECCIONE UN SERVICIO</h3>
                                <select id="servicios" name="servicios" required th:value="*{servicios}">
                                    <option value="GAS">GAS</option>
                                    <option value="PLOMERIA">PLOMERIA</option>
                                    <option value="ELECTRICISTA">ELECTRICISTA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row full-width">
                        <div class="form-group">
                            <label for="descripcion"><h3>INGRESE DESCRIPCIÓN A REALIZAR</h3></label>
                            <textarea id="descripcion" name="descripcion" th:field="*{descripcionProveedor}" placeholder="Ingrese una descripción del rol o servicio que provee" required></textarea>
                        </div>
                    </div>
                    <div class="form-row full-width center-content">
                        <div class="form-group">
                            <label for="estado"><h3>NO SOY UN ROBOT</h3></label>
                            <input type="checkbox" id="estado" name="estado">
                        </div>
                    </div>
                    <div class="form-row full-width">
                        <button type="submit" id="enviarBtn">
                            <h3>ENVIAR ➝</h3>
                        </button>
                    </div>
                </form>
            </div>
        </section>                 
    </main> 
</body>
</html>