<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/styles/styleRegistroUsuario.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/}">
                    <img src="/img/logoPNG.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">DEV SOLUCIONES</span>
                </a>
            </div>
        
            <ul class="nav-list">
                <li><a th:href="@{/}">VOLVER AL INICIO</a></li>
                <li><a th:href="@{/conocenos}">CONOCENOS</a></li>
                <li><a th:href="@{/ayuda}">AYUDA</a></li>
                <li><a th:href="@{/servicios}">SERVICIOS SOLO VISTA USUARIO</a></li>
            </ul>
        
            <ul class="account-options">
                <li class="desplegable">
                    <a href="javascript:void(0)" class="dropbtn">REGISTRARSE</a>
                    <div class="desplegable-content">
                        <a th:href="@{/registrarUsuario}">USUARIO</a>
                        <a th:href="@{/registrarProveedor}">PROVEEDOR</a>
                    </div>
                </li>
            </ul>
        
            <ul id="redes">
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Facebook.svg" alt="Facebook">
                    </a>
                </li>
            </ul>
        
            <div class="marquesina-contenedor">
                <div class="marquesina">
                    <p>DEV SOLUCIONES: Conectamos PROFESIONALES con tus necesidades.</p>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section id="registro">
            <div id="form">
                <h3>REGISTRO DE USUARIO</h3>
                <form id="formularioUsuario" th:action="@{/guardarUsuario}" method="POST" th:object="${usuarioDTO}">
                    <div class="form-row">
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" id="telefono" name="telefono" th:field="*{telefono}" placeholder="Ingrese su teléfono" required>
                            </div>
                            <div class="form-group">
                                <h3>SELECCIONE SU BARRIO</h3>
                                <select id="barrios" name="barrios" required th:field="*{barrios}">
                                    <option value="NORTE">NORTE</option>
                                    <option value="CENTRO">CENTRO</option>
                                    <option value="SUR">SUR</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="apellido" name="apellido" th:field="*{apellido}" placeholder="Ingrese su apellido" required>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" name="email" th:field="*{email}" placeholder="Ingrese su email" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="contrasena" name="contrasena" th:field="*{contrasena}" placeholder="Ingrese su contraseña" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row full-width center-content">
                        <div class="form-group">
                            <label for="estado">
                                <h3>NO SOY UN ROBOT</h3>
                            </label>
                            <input type="checkbox" id="estado" name="estado">
                        </div>
                    </div>
                    <div class="form-row full-width">
                        <button type="submit" id="enviarBtn">
                            <h3>REGISTRARSE</h3>
                        </button>
                    </div>
                </form>
            </div>
        </section>        
    </main>
    <footer>
        
    </footer>
</body>

</html>