<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Proovedor</title>
    <link rel="stylesheet" href="/styles/styleRegistroProveedor.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>

    <main>
        <section id="registro">
            <div id="form">
                <h3>REGISTRO DE PROVEEDOR</h3>
                <form id="formularioProveedor" th:action="@{/guardarProveedor}" method="POST"
                    th:object="${proveedorDTO}" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="nombre" th:field="*{usuario.nombre}"
                                    placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" id="telefono" th:field="*{usuario.telefono}"
                                    placeholder="Ingrese su teléfono" required>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" th:field="*{usuario.email}"
                                    placeholder="Ingrese su email" required>
                            </div>
                            <div class="form-group">
                                <label for="imagenProveedor">
                                    <h3>SELECCIONE UNA IMAGEN DE PERFIL</h3>
                                </label>
                                <input type="file" id="imagenProveedor" name="imagenFile" accept="image/*"
                                    placeholder="Cargar una imagen de perfil" required>
                            </div>
                        </div>
                        <div class="form-column">
                            <div class="form-group">
                                <input type="text" id="apellido" th:field="*{usuario.apellido}"
                                    placeholder="Ingrese su apellido" required>
                            </div>
                            <div class="form-group">
                                <input type="number" id="matricula" name="matricula" placeholder="Ingrese su matricula"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="contrasena" th:field="*{usuario.contrasena}"
                                    placeholder="Ingrese su contraseña" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="confirmarContrasena" name="confirmarContrasena" 
                                    placeholder="Confirme su contraseña" required>
                                    <span id="mensajeError" class="error"></span>
                            </div>
                            <div class="form-group">
                                <h3>SELECCIONE UN SERVICIO</h3>
                                <select name="idServicio" id="servicios" required>
                                    <option th:each="servicio : ${servicios}" th:value="${servicio.id.toString()}"
                                        th:text="${servicio.nombre}"></option>
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <h2>SELECCIONE UN SERVICIO</h2>
                                <select id="servicios" name="servicios" required th:value="*{servicios}">
                                    <option value="GAS">GAS</option>
                                    <option value="PLOMERIA">PLOMERIA</option>
                                    <option value="ELECTRICISTA">ELECTRICISTA</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-row full-width">
                        <div class="form-group">
                            <label for="descripcion">
                                <h3>INGRESE BREVE DESCRIPCIÓN DE LA TAREA A REALIZAR</h3>
                            </label>
                            <textarea id="descripcion" name="descripcion"
                                placeholder="Ingrese una descripción del rol o servicio que provee" required></textarea>
                        </div>
                    </div>
                    <div class="form-row full-width center-content">
                        <div class="form-group">
                            <label for="estado">
                                <h3>NO SOY UN ROBOT</h3>
                            </label>
                            <input type="checkbox" id="estado" name="estado">
                        </div>
                    </div>
                    <div class="form-row full-width">
                        <button type="submit" id="enviarBtn">
                            <h3>REGISTRAR</h3>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}">
    </footer>
    <script src="/script/validarContraseñaProveedor.js"></script>
</body>
</html>