<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion de Proveedor</title>
    <link rel="stylesheet" href="/styles/styleSesionUsuario&Proveedor.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/}">
                    <img src="/img/logoPNG.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">DEV SOLUCIONES</span>
                </a>
            </div>

            <ul class="nav-list">
                <li><a th:href="@{/}">INICIO</a></li>
                <li><a th:href="@{/conocenos}">CONOCENOS</a></li>
            </ul>

            <ul id="redes">
                <button  id="registrarBtn">
                    <h4><a th:href="@{/registrarProveedor}">REGISTRARSE</a></h4>
                </button>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Facebook.svg" alt="facebook">
                    </a>
                </li>
            </ul>
            <div class="marquesina-contenedor">
                <div class="marquesina">
                    <p>DEV SOLUCIONES: Conectamos PROFESIONALES con tus necesidades.</p>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section id="inicioSesion">
        <div id="formUsuario">
            <h3>INGRESE CON SU CUENTA DE PROVEEDOR</h3>
            <form id="sesionUsuario" th:action="@{/logincheckProveedor}" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" th:value="${email}" placeholder="Ingrese su email" required><br><br>
                </div>

                <div class="form-group">
                    <input type="password" id="contrasena" name="contrasena" th:value="${contrasena}" placeholder="Ingrese su contraseña" required><br><br>
                </div>
    
                <div class="form-group">
                    <label for="estado"><h4>NO SOY UN ROBOT</h4></label>
                    <input type="checkbox" id="estado" name="estado"><br><br>
                </div>

                <button type="submit" id="enviarBtn">
                    <h4>INICIAR SESIÓN</h4>
                </button></br>
                
            </form>
        </div>
        </section>
    </main> 
</body>
</html>