<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Valoraciones clientes</title>
    <link rel="stylesheet" href="/styles/styleValoraciones.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
    <div class="valoraciones">
        <h2>TRABAJOS FINALIZADOS</h2>
        <table id="finalizadosTable">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>BARRIO</th>
                    <th>ESTADO</th>
                    <th>COMENTARIO</th>
                    <th>VALORACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteración sobre las solicitudes -->
                <tr th:each="solicitud : ${solicitudes}">
                    <td th:text="${solicitud.idUsuario.nombre}">Nombre</td>
                    <td th:text="${solicitud.idUsuario.apellido}">Apellido</td>
                    <td th:text="${solicitud.idUsuario.barrios}">Barrio</td>
                    <td th:text="${solicitud.estado}">Estado</td>
                    <!-- Iteración sobre las valoraciones -->
                    <td>
                        <span th:text="${solicitud.idValoracion.comentario}">-</span>
                    </td>
                    <td >
                        <span th:text="${solicitud.idValoracion.puntaje}">-</span>
                    </td>
                </tr>
                <tr class="promedio-row">
                    <td colspan="4"></td>
                    <td><strong>PROMEDIO</strong></td>
                    <td>
                        <span th:text="${promedio}" >-</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}"></footer>
</body>

</html>