<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="/styles/styleVistaUsuario.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
        <!-- PÁGINA 1 'INICIO SESION'-->
        <section id="vistaUsuario">
            <h3>Proveedores Registrados</h3>
            <div class="proveedores-container">
                <div class="lista-proveedores">
                    <div class="column-header">
                        <div class="col-avatar"><h3>Foto de perfil</h3></div>
                        <div class="col-nombre"><h3>Nombre y apellido</h3></div>
                        <div class="col-matricula"><h3>Matrícula</h3></div>
                        <div class="col-servicio"><h3>Servicio</h3></div>
                        <div class="col-promedio"><h3>Puntuación</h3></div>
                        <div class="col-descripcion"><h3>Descripción</h3></div>
                        <div class="col-contratar"></div>
                    </div>
                    <!-- Proveedores -->
                    <div class="proveedor" th:each="proveedor : ${proveedores}">
                        <div class="col-avatar">
                            <img th:src="@{/imagen/perfil/__${proveedor.id.toString}__}" alt="Perfil de Proveedor" class="avatar" height="50px" width="50px">
                        </div>
                        <div class="col-nombre">
                            <h4 th:text="${proveedor.usuario.nombre} + ' ' + ${proveedor.usuario.apellido}">Nombre Proveedor</h4>
                        </div>
                        <div class="col-matricula">
                            <h4 th:text="${proveedor.matricula}">12345</h4>
                        </div>
                        <div class="col-servicio">
                            <p th:text="${proveedor.servicio}">Gasista</p>
                        </div>
                        <div class="col-promedio">
                            <p th:text="${proveedor.promedio}">⭐⭐⭐⭐⭐</p>
                        </div>
                        <div class="col-descripcion">
                            <p th:text="${proveedor.descripcion}">Descripción del proveedor</p>
                        </div>
                        <div class="col-contratar">
                            <a th:href="@{/contratar/crearSolicitud/{id}(id=${proveedor.id.toString()})}">
                                <button><h5>Contratar</h5></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </main>

    <footer th:replace="~{/fragments/footer :: footerFragment}">

    </footer>
    <!--correr spring terminal   ./mvnw spring-boot:run  -->
</body>
</html>