<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleVistaAdmin.css">
    <title>Vista ADMIN</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/}">
                    <img src="/img/logoPNG.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">DEV SOLUCIONES</span>
                </a>
            </div>

            <ul class="nav-list">
                <li><a class="target" th:href="@{/dashboard}">PANEL DE ADMINISTRACION</a></li>
            </ul>

            <ul id="redes">
                <li class="cerrarSesion">
                    <li><a th:href="@{/}">CERRAR SESIÓN</a></li>
                    </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Facebook.svg" alt="facebook">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="admin-vista">
            <div id="admin-contenedor">
                <div class="admin-row">
                    <!-- Lista de Usuarios -->
                    <div class="admin-column">
                        <h2>USUARIOS REGISTRADOS</h2>
                        <table id="usuariosTable">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <!-- <th>FOTO DE PERFIL</th> -->
                                    <th>E-MAIL</th>
                                    <th>ROL</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usuario : ${usuarios}">
                                    <td th:text="${usuario.nombre+' '+usuario.apellido}">Aver Gaspar</td>
                                    <!-- <td>
                                        <img th:src="@{${usuario.fotoPerfil}}" alt="Foto de perfil" width="50" height="50" src="/img/usuarioLogo.png">
                                    </td> -->
                                    <td th:text="${usuario.email}">Avergaspar@gmail.com</td>
                                    <td th:text="${usuario.rol}">USUARIO</td>
                                    <td>
                                        <!-- <button class="modificar">Modificar</button> -->
                                        <a th:href= "@{/modificarUsuarioS/__${usuario.id.toString()}__}"><i class="fas fa-feather-alt">  </i> Modificar </a>
                                      
                                        <button class="modificar-rol">ModificarRol</button>
                                        <button class="eliminar">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Lista de Proveedores -->
                    <div class="admin-column">
                        <h2>PROVEEDORES REGISTRADOS</h2>
                        <table id="proveedoresTable">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>FOTO DE PERFIL</th>
                                    <th>E-MAIL</th>
                                    <th>ROL</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr th:each="usuario : ${usuarios}">
                                    <td th:text="${usuario.nombre}">Señor Solución</td>
                                    <td>
                                        <img th:src="@{${usuario.fotoPerfil}}" alt="Foto de perfil" width="50" height="50" src="/img/plomero1.png">
                                    </td>
                                    <td th:text="${usuario.email}">Tedestapo24-7@gmail.com</td>
                                    <td th:text="${usuario.rol}">PLOMERIA</td>
                                    <td>
                                        <button class="modificar">Modificar</button>
                                        <button class="modificar-rol">Modificar Rol</button>
                                        <button class="eliminar">Eliminar</button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        
    </footer>
</body>

</html>