<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista PROVEEDOR</title>
    <link rel="stylesheet" href="/styles/styleVistaAdmin.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">

</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
        <section id="admin-vista">
            <div id="admin-contenedor">
                <div class="admin-row">
                    <!-- Pedidos de Trabajo -->
                    <div class="admin-column">
                        <h2>PEDIDOS DE TRABAJOS PENDIENTES</h2>
                        <table id="pedidosTable">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>APELLIDO</th>
                                    <th>TELÉFONO</th>
                                    <th>BARRIO</th>
                                    <th>SELECCIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí va la iteración de los pedidos de trabajo -->
                                <tr th:each="pendientes : ${pendientes}">
                                    <td th:text="${pendientes.idUsuario.nombre}">Alejandro</td>
                                    <td th:text="${pendientes.idUsuario.apellido}">Perez</td>
                                    <td th:text="${pendientes.idUsuario.telefono}">2948737238</td>
                                    <td th:text="${pendientes.idUsuario.barrios}">NORTE</td>
                                    <td>
                                        <a th:href="@{contratar/modificarEstado/{id}/{estado}(id=${pendientes.id.toString()}, estado='ACEPTADO')}"><button>Aceptar</button></a>

                                        <a th:href="@{contratar/modificarEstado/{id}/{estado}(id=${pendientes.id.toString()}, estado='CANCELADO')}"><button class="rechazar">Rechazar</button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Trabajos en Curso -->
                    <div class="admin-column">
                        <h2>TRABAJOS EN CURSO (ACEPTADOS)</h2>
                        <table id="cursosTable">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>APELLIDO</th>
                                    <th>TELÉFONO</th>
                                    <th>BARRIO</th>
                                    <th>SELECCIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí va la iteración de los trabajos en curso -->
                                <tr th:each="aceptados : ${aceptados}">
                                    <td th:text="${aceptados.idUsuario.nombre}">Juan</td>
                                    <td th:text="${aceptados.idUsuario.apellido}">López</td>
                                    <td th:text="${aceptados.idUsuario.telefono}">2987654321</td>
                                    <td th:text="${aceptados.idUsuario.barrios}">SUR</td>
                                    <td>EN CURSO</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Trabajos Finalizados -->
                    <div class="admin-column">
                        <h2>TRABAJOS FINALIZADOS</h2>
                        <table id="finalizadosTable">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>APELLIDO</th>
                                    <th>TELÉFONO</th>
                                    <th>BARRIO</th>
                                    <th>SELECCIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí va la iteración de los trabajos finalizados -->
                                <tr th:each="finalizados : ${finalizados}">
                                    <td th:text="${finalizados.idUsuario.nombre}">María</td>
                                    <td th:text="${finalizados.idUsuario.apellido}">Gómez</td>
                                    <td th:text="${finalizados.idUsuario.telefono}">2955555555</td>
                                    <td th:text="${finalizados.idUsuario.barrios}">CENTRO</td>
                                    <td>FINALIZADO</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}">

    </footer>
</body>

</html>