<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIO</title>
    <link rel="stylesheet" href="/styles/styleVistaUsuario.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/index}">
                    <img src="/img/logo.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">CHACRAS DE CORIA</span>
                </a>
            </div>

            <ul class="nav-list">
                <li><a th:href="@{/index}">INICIO</a></li>
                <li><a th:href="@{/novedades}">NOVEDADES</a></li>
                <li><a th:href="@{/sobreNosotros}">CONOCENOS</a></li>
            </ul>

            <li class="cerrarSesion">
                <li><a th:href="@{/index}">CERRAR SESIÓN</a></li>
                </li>

            <ul id="redes">
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img class="social-logo" src="/img/Facebook.svg" alt="facebook">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- PÁGINA 1 'INICIO SESION'-->
        <section id="vistaUsuario">
            <h3></h3>
            <div class="proveedores-container">
                <div class="proveedor-card" style="--bg-image: url('/img/Gasista.png');">
                    <h2 class="titulo-lista"><strong>LISTA DE GASISTAS</strong></h2>
                    <div class="contenido">
                        <div class="lista-proveedores">
                            <h3>NOMBRE | PUNTUACIÓN</h3>
                            <!-- Aquí irán los nombres de los gasistas traídos desde la base de datos -->
                            <div class="proveedor">
                                <img src="/img/gasista1.png" alt="Perfil de Gaston Estalla" class="avatar" height="50px" width="50px">
                                <h4>Gaston Estalla</h4>
                                <div class="puntuacion">
                                    ⭐⭐⭐⭐⭐
                                </div>
                                <div class="contratar-btn">
                                    <a href="contratar" target="_blank">
                                        <h5>Contratar ➝</h5>
                                    </a>
                                </div>
                            </div>
                            <!-- Añadir más gasistas aquí -->
                        </div>
                    </div>
                </div>
    
                <div class="proveedor-card" style="--bg-image: url('/img/Plomero.png');">
                    <h2 class="titulo-lista"><strong>LISTA DE PLOMEROS</strong></h2>
                    <div class="contenido">
                        <div class="lista-proveedores">
                            <h3>NOMBRE | PUNTUACIÓN</h3>
                            <!-- Aquí irán los nombres de los plomeros traídos desde la base de datos -->
                            <div class="proveedor">
                                <img src="/img/plomero1.png" alt="Perfil de Pedro PicaPiedra" class="avatar" height="50px" width="50px">
                                <h4>Pedro PicaPiedra</h4>
                                <div class="puntuacion">
                                    ⭐⭐⭐⭐☆
                                </div>
                                <div class="contratar-btn">
                                    <a href="contratar" target="_blank">
                                        <h5>Contratar ➝</h5>
                                    </a>
                                </div>
                            </div>
                            <!-- Añadir más plomeros aquí -->
                        </div>
                    </div>
                </div>
    
                <div class="proveedor-card" style="--bg-image: url('/img/Electricista.png');">
                    <h2 class="titulo-lista"><strong>LISTA DE ELECTRICISTAS</strong></h2>
                    <div class="contenido">
                        <div class="lista-proveedores">
                            <h3>NOMBRE | PUNTUACIÓN</h3>
                            <!-- Aquí irán los nombres de los electricistas traídos desde la base de datos -->
                            <div class="proveedor">
                                <img src="/img/electricista1.png" alt="Perfil de Elena Chispa" class="avatar" height="50px" width="50px">
                                <h4>Elena Chispa</h4>
                                <div class="puntuacion">
                                    ⭐⭐⭐☆☆
                                </div>
                                <div class="contratar-btn">
                                    <a href="contratar" target="_blank">
                                        <h5>Contratar ➝</h5>
                                    </a>
                                </div>
                            </div>
                            <!-- Añadir más electricistas aquí -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
    <!--correr spring terminal   ./mvnw spring-boot:run  -->
</body>
</html>