<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleVistaAdmin.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
    <title>Vista ADMIN</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-contenedor">
                <a th:href="@{/}">
                    <img src="/img/logoPNG.png" alt="Logo" class="logo">
                    <span class="nombreEmpresa">DEV SOLUCIONES</span>
                </a>
            </div>

            <ul class="nav-list">
                <li><a class="target" th:href="@{/dashboard}">PANEL DE ADMINISTRACION</a></li>
                <li><a class="target" th:href="@{/}">SERVICIOS</a></li>
                <li><a class="target" th:href="@{/valoraciones/listaValoraciones}">VALORACIONES</a></li>
            </ul>

            <ul id="sesion">
                <li class="cerrarSesion">
                <li><a th:href="@{/logout}">CERRAR SESIÓN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="admin-vista">
            <div id="admin-contenedor">
                <div class="admin-row">
                    <!-- Lista de Usuarios -->
                    <div class="admin-column">
                        <h2>USUARIOS REGISTRADOS</h2>
                        <table id="usuariosTable">
                            <thead>
                                <tr>
                                    <th>NOMBRE Y APELLIDO</th>
                                    <th>EMAIL</th>
                                    <th>ROL</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usuario : ${usuarios}" th:if="${usuario.rol.toString() != 'PROVEEDOR'}">
                                    <td th:text="${usuario.nombre+' '+usuario.apellido}">Aver Gaspar</td>
                                    <!-- <td>
                                        <img th:src="@{${usuario.fotoPerfil}}" alt="Foto de perfil" width="50" height="50" src="/img/usuarioLogo.png">
                                    </td> -->
                                    <td th:text="${usuario.email}">Avergaspar@gmail.com</td>
                                    <td th:text="${usuario.rol}">USUARIO</td>
                                    <td>

                                        <a th:href="@{/modificarUsuarioS/__${usuario.id.toString()}__}"
                                            th:if="${usuario.rol.toString() != 'SUPER'}"><button
                                                class="fas fa-feather-alt">Modificar</button></a>

                                        <a sec:authorize="hasRole ('SUPER')"
                                            th:href="@{/modificarRol/__${usuario.id.toString()}__}"
                                            th:if="${usuario.rol.toString() != 'SUPER'}"> <button
                                                class="modificar-rol">Modificar Rol</button></a>

                                        <a sec:authorize="hasRole ('SUPER')" th:if="${usuario.rol.toString() == 'USER'}"
                                            th:href="@{/eliminarUsuario/__${usuario.id.toString()}__}">
                                            <button class="eliminar">Eliminar</button>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Lista de Proveedores -->
                    <div class="admin-column">
                        <h2>PROVEEDORES REGISTRADOS</h2>
                        <table id="proveedoresTable">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>FOTO DE PERFIL</th>
                                    <th>E-MAIL</th>
                                    <th>ROL</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- th:if="${usuario.rol.toString() == 'USER'}" -->
                                <tr th:each="proveedor : ${proveedores}"
                                    th:if="${proveedor.usuario.rol.toString() == 'PROVEEDOR'}">
                                    <td th:text="${proveedor.usuario.nombre+' '+proveedor.usuario.apellido}">Aver Gaspar
                                    </td>
                                    <!-- <td>
                                        <img th:src="@{${usuario.fotoPerfil}}" alt="Foto de perfil" width="50" height="50" src="/img/usuarioLogo.png">
                                    </td> -->
                                    <td th:text="${proveedor.usuario.email}">Avergaspar@gmail.com</td>
                                    <td th:text="${proveedor.usuario.rol}">USUARIO</td>
                                    <td>
                                        <!-- <button class="modificar">Modificar</button> -->
                                        <a th:href="@{/modificarUsuarioS/__${proveedor.usuario.id.toString()}__}"><button
                                                class="fas fa-feather-alt">Modificar</button></a>

                                        <a sec:authorize="hasRole ('SUPER')"
                                            th:href="@{/modificarRol/__${proveedor.usuario.id.toString()}__}"> <button
                                                class="modificar-rol">Modificar Rol</button></a>

                                        <a sec:authorize="hasRole ('SUPER')" th:if="${proveedor.usuario.rol.toString() == 'PROVEEDOR'}"
                                            th:href="@{/proveedor/eliminar/__${proveedor.usuario.id.toString()}__}">
                                            <button class="eliminar">Eliminar</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <section>
                    <H1>CARGA DE SERVICIOS DEV:</H1>
                    <form th:action="@{/servicio}" method="post" th:object="${servicioDTO}">INGRESE NOMBRE DEL SERVICIO
                        A CARGAR:
                        <input type="text" name="nombre" placeholder="Ingrese el nombre del servicio">
                        <button type="submit">Enviar</button>
                </section>

            </div>

        </section>
    </main>
    <footer th:replace="~{/fragments/footer :: footerFragment}">

    </footer>
</body>

</html>