<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="/styles/styleVistaUsuario.css">
    <link rel="stylesheet" href="/styles/styleFooter.css">
</head>

<body>
    <header th:replace="~{/fragments/_navbar :: Navbar}"></header>
    <main>
        <!-- PÁGINA 1 'INICIO SESION'-->
        <section id="vistaUsuario">
            <h3></h3>
            <div class="proveedores-container" th:each="servicio : ${servicios}">
                <div class="proveedor-card" style="--bg-image: url('/img/Gasista.png');">
                    <h2 class="titulo-lista"><strong th:text="${'PROVEEDORES DEL SERVICIO ' + servicio.nombre.toUpperCase()}"></strong></h2>
                    <div class="contenido">
                        <div class="lista-proveedores">
                            <div class="column-header">
                                <div class="col-avatar"></div>
                                <div class="col-nombre"><h3>NOMBRE</h3></div>
                                <div class="col-puntuacion"><h3>PUNTUACIÓN</h3></div>
                                <div class="col-contratar"></div>
                            </div>
                            <!-- Aquí irán los nombres de los proveedores traídos desde la base de datos -->
                            <div class="proveedor" th:each="proveedor : ${'proveedores_' + servicio.nombre}">
                                <div class="col-avatar">
                                    <img th:src="@{/imagen/perfil/__${proveedor.id.toString()}__}"  alt="Perfil de Gaston Estalla" class="avatar" height="50px" width="50px">
                                </div>
                                <div class="col-nombre">
                                    <h4 th:text="${proveedor.usuario.nombre} + ' ' + ${proveedor.usuario.apellido}">Gaston Estalla</h4>
                                </div>
                                <div class="col-puntuacion">
                                    ⭐⭐⭐⭐⭐
                                </div>
                                <div class="col-contratar">                                    
                                    <a th:href="@{/contratar/crearSolicitud/{id}(id=${proveedor.id.toString()})}" >
                                    <!-- <a th:href="@{/contratar/solicitud/__${proveedor.id.toString}__}" target="_blank"> -->
                                        <button><h5>Contratar</h5></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="~{/fragments/footer :: footerFragment}"></footer>
    <!--correr spring terminal   ./mvnw spring-boot:run  -->
</body>
</html>