@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 0.5s ease;
}

html,
body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.5px;
    color: white;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
    min-height: 100vh;
}

/* ESTILOS PARA LAS DISTINTAS SECCIONES */
section {
    height: calc(100vh - 104px);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Títulos*/
h1 {
    font-size: 48px;
    cursor: default;
    transition: none;
}
h2 {
    font-size: 32px;
    cursor: default;
    transition: none;
}
h3 {
    font-size: 24px;
    cursor: default;
    transition: none;
}
h4 {
    font-size: 20px;
    cursor: default;
    transition: none;
}
h5 {
    font-size: 16px;
    cursor: default;
    font-weight: 400;
    transition: none;
}
a {
    color: white;
    font-size: 20px;
    transition: none;
}
p {
    font-size: 20px;
    cursor: default;
    font-weight: 400;
    transition: none;
}

/*Colores*/
:root {
    --color: #06608a;
    --color-medio: #05435f;
    --color-oscurecido: rgb(3, 41, 58);
    --color-trasparente: rgb(6, 96, 138, 0.9);
    --titulo-pintado: #e4e299;
}

.navbar {
    width: 100%;
    min-height: 80px;
    padding: 0 96px;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-contenedor {
    display: flex;
    align-items: center;
}

.logo-contenedor a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    height: 84px;
}

.nombreEmpresa {
    color: rgb(241, 241, 124);
    text-shadow: 0 0 20px rgba(241, 241, 107, 0.8);
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

/*NAVEGACIÓN*/
.nav-list {
    display: flex;
    gap: 22px;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    flex-grow: 1;
}
.nav-list a:hover {
    transform: scale(1.5);
}
.nav-list li a.active {
    color: var(--color);
}

ul.nav-list {
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-options {
    display: flex;
    gap: 24px;
    margin-right: 20px;
}

.account-options .desplegable {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.desplegable-content {
    display: none;
    position: absolute;
    margin-top: -30px;
    background-color: var(--titulo-pintado);
    z-index: 1;
    max-width: 124px;
    top: 100%; 
    box-shadow: 0 4px 24px 0px rgba(5, 5, 5, 0.5);
    border-radius: 12px;
}

.desplegable-content a {
    border-radius: 10px;
    color: black;
    padding: 12px;
    width: 100%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.desplegable-content a:hover {
    background-color: black;
    color: white;
}

.desplegable:hover .desplegable-content {
    display: block;
}

.desplegable:hover .desplegable {
    background-color: var(--color-oscurecido);
}

#sesion {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
}


/* ESTILOS PAGINA 1 - VISTA ADMIN */
main {
    background: rgb(26, 26, 26);
    background: radial-gradient(
        circle,
        rgba(26, 26, 26, 1) 0%,
        rgba(10, 10, 10, 1) 66%
    );
    background-image: url("../img/background2.png");
    height: calc(100vh - 80px);
}

/* ESTILOS PAGINA - vista ADMIN */

#admin-vista {
    opacity: 0.9;
    padding: 24px 36px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

#admin-contenedor {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-trasparente);
}

.admin-row {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-wrap: wrap;
}

.admin-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;;
}

h4 {
    color: var(--titulo-pintado);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

thead {
    background-color: var(--color-oscurecido);
}

thead th {
    color: var(--titulo-pintado);
    padding: 16px;
    font-size: 16px;
}

tbody td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: var(--color);
}

button {
    padding: 8px 12px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.modificar-rol, button.eliminar {
    background-color: var(--color-oscurecido);
    color: white;
}

button.fas.fa-feather-alt {
    background-color: var(--color-oscurecido);
    color: white;
}

button.fas.fa-feather-alt:hover, button.modificar-rol:hover {
    background-color: white;
    color: var(--color-oscurecido);
}

button.eliminar {
    background-color: red;
    color: white;
}

button.eliminar:hover {
    background-color: white;
    color: red;
}
